[submodule "libraries/json"]
	path = libraries/json
	url = git@github.com:nlohmann/json.git
[submodule "libraries/tabulate"]
	path = libraries/tabulate
	url = git@github.com:p-ranav/tabulate.git
[submodule "libraries/googletest"]
	path = libraries/googletest
	url = git@github.com:google/googletest.git
[submodule "libraries/fmt"]
	path = libraries/fmt
	url = git@github.com:fmtlib/fmt.git
[submodule "libraries/range-v3"]
	path = libraries/range-v3
	url = git@github.com:ericniebler/range-v3.git
