[submodule "libraries/json"]
	path = libraries/json
	url = git@github.com:nlohmann/json.git
[submodule "libraries/tabulate"]
	path = libraries/tabulate
	url = git@github.com:p-ranav/tabulate.git
[submodule "libraries/cpp-terminal"]
	path = libraries/cpp-terminal
	url = git@github.com:jupyter-xeus/cpp-terminal.git
